<div class="container-fluid nopadding">
  <div class ="col-xs-12 nopadding">
    <header class="site-header">
         <!-- Navigation -->
      <nav class="navbar navbar navbar-static-top">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <div class="navbar-header">
            <ul class="nav nav-tabs navbar-left">
              {% for page in site.pages %}{% if page.title %}
                  <li role="presentation" class="active">
                      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                  </li>
              {% endif %}{% endfor %}
            </ul>
        </div>
      </nav>
    </header>
  </div>
    <!-- /.container -->
</div>

