/**
 * Site header
 */
.site-header {
    min-height: 56px;
    text-decoration: none;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 4rem;
    line-height: 5rem;
    float: none;
    margin: 0 auto;
    padding-top: 3%;

    &,
    &:visited {
        color: $header-color-light;
        text-decoration: none;
    }
}

.navbar-nav {
    margin:0;
    background-color: #272822 !important;
    li {
    float:none !important;
    display:inline-block;
    font-size: 2rem;
    background-color: #272822 !important;
        a {
            padding-top: 15px;
            padding-bottom: 15px;
            color: #7775f4;
            float:none;
            background-color: #272822;
        }
        a:hover {
            color: #7ED22E;
            background-color: none;
        }
    }
}

.nav-tabs>li.active>a {
        background-color: #272822;
}

.nav-tabs>li.active>a:hover {
    color: #7ED22E;
    background-color: #272822;
}

.nav-tabs {
    border-bottom: none;
}

.navbar-brand {
    text-shadow: none;
}

/**
 * Site footer
 */

body {
  background-color: #272822 !important;
}

.social ul {
  list-style: none;
  @extend %clearfix;
  margin-left: 0;
  li {
    display: inline-block;
    padding: 5% 5% 0;
  }
}


.site-footer {
    background-color: #5a5a5a;
    text-align: center;
    bottom: 0;
    width:100%;
    p {
        margin-bottom: 0;
        padding: 3%;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.contact-list {
    list-style: none;
    margin-left: 0;
}



/**
 * Page content
 */
.page-content {
    text-align: center;
    color: $text-color;
}

.page-heading {
    font-size: 20px;
    color: $heading-color;
}

.post-list {
    margin-left: 0;
    list-style: none;
    vertical-align: middle;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $meta-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.clear {
    clear: both;
    height: 200px
}
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    padding-bottom: 5%;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

